.item {
    border: 1px solid silver ;
    /* display: flex;
    flex-direction: row;  */

    width: 90vh;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    list-style: none;

}

/* .formContent {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
} */

.inlineRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.formContent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.name {
  flex-grow: 1;
  font-weight: 600;
  font-size: 1.2rem;
}


label {
    margin-left:70%;
}

input {
    
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 5rem;
    max-width: 100%;
}

.button {

    border: none;
    color: black;
    padding: 5px 7px;
    text-align: center;
    font-size: 16px;
    margin: 5px 600px;
    cursor: pointer;

}

.item__name {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 0%;
}

.item__price {
    font-size: 10px;
    font-weight: bold;
}